<div class="row base-element">
  <div class="col align-self-center">
    <div class="row">
      <div class="col title">
        <h1 class="display-2 ">AI LINKS</h1>
        <h6 class="subtitle"> Not Artificially Intelligent, Just 矮 </h6>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mx-auto url-results">
        <%= form_tag('/short_urls', {method: :post, class: "form-group"}) do %>

          <div class="form-group">
            <%= label_tag 'Enter Url Below', nil, class: 'small_label' %>
            <%= text_field_tag :base_url, params[:base_url], class: "form-control url-text-field" %>
          </div>

          <%= submit_tag 'Generate Short Url', class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
