<div class="container">

  <div class="row">
    <div class="col">
      <h1 class="display-1">Url Shortener</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Base Url: <%= @short_url.base_url.to_s %>
      <br>
      Shortened Url: <%= request.host_with_port + "/" + @short_url.shortened_url %>
    </div>
  </div>

</div>
